$cor-cinza: #222222;
$cor-preto: #131313;
$cor-azul: #260d53;
$cor-branca: #fffcfc;
$cor-amarela: #fff280;
$cor-verde: #06b600;
$cor-vermelho: #e53935;

$fonte-principal: "Source Sans 3", sans-serif;
$transicao: all 0.2s ease-in-out;
$scale: scale(1.07);
